// TODO: Activeのクラス調整

.wrapper {
	display: flex;
	gap: 10px;
	padding: 20px 15px 0;
	background-color: #f8f8f8;

	.item {
		width: 100%;
	}

	.body {
		display: block;
		width: 100%;
		padding: 15px 0;
		color: #9ca0a2;
		background-color: #efefef;
		border: none;
		border-top: 6px solid #d6dadc;
		border-radius: 5px 5px 0 0;
	}

	.bodyActive {
		display: block;
		width: 100%;
		padding: 15px 0;
		color: inherit;
		font-weight: bold;
		background-color: #fff;
		border: none;
		border-top: 6px solid #1e6695;
		border-radius: 5px 5px 0 0;
	}
}