* {
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	word-break: break-all;
	line-height: 1;
}

body {
	color: #1e6694;
	background-color: #fff;
}
