.wrapper {
	.subtitle {
		font-weight: bold;
	}

	.subtitleAllocation {
		padding-top: 30px;
		font-weight: bold;
	}

	.userWrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 13px 30px;
		margin-top: 12px;
	}

	.userLabel {
		position: relative;
		display: inline-block;

		> span {
			display: inline-block;
			transform: translateY(-3px);
		}

		&::before {
			content: "";
			display: inline-block;
			margin-right: 7px;
			width: 20px;
			height: 20px;
			background-color: #efefef;
			border: 6px solid #efefef;
			border-radius: 50px;
			vertical-align: text-bottom;
			box-sizing: border-box;
		}
	}

	.userRadio {
		display: none;

		&:checked + .userLabel {
			&::before {
				background-color: #1e6694;
			}
		}
	}

	.priceWrapper {
		display: flex;
		align-items: baseline;
		margin-top: 20px;
	}

	.subjectWrapper {
		display: flex;
		align-items: baseline;
		margin-top: 15px;
	}

	.label {
		margin-right: 10px;
		word-break: keep-all;
		font-weight: bold;
	}

	.input {
		width: 100%;
		padding: 11px 10px 8px;
		color: #1e6694;
		font-family: inherit;
		font-size: 14px;
		line-height: 1;
		outline: none;
		border: none;
		border-bottom: 1px solid #d8d9da;

		&:focus {
			border-bottom: 1px solid #1e6694;
			background-color: #eef7ff;
		}

		&::placeholder {
			color: #bdc2c7;
		}
	}

	.yen {
		margin-left: 6px;
	}

	.allocationWrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 13px 30px;
		margin-top: 12px;
		border-radius: 4px;
		overflow: hidden;
	}

	.allocationLabel {
		position: relative;
		display: inline-block;

		> span {
			display: inline-block;
			transform: translateY(-2px);
		}

		&::before {
			content: "";
			display: inline-block;
			margin-right: 7px;
			width: 20px;
			height: 20px;
			background-color: #efefef;
			border-radius: 3px;
			vertical-align: text-bottom;
		}

		&::after {
			position: absolute;
			top: 2px;
			left: 6px;
			content: "";
			display: inline-block;
			width: 4px;
			height: 10px;
			border-bottom: 3px solid;
			border-right: 3px solid;
			border-color: #efefef;
			transform: rotate(45deg);
		}
	}

	.allocationCheckbox {
		display: none;

		&:checked + .allocationLabel {
			&::after {
				border-color: inherit;
			}
		}
	}
}
