* {
	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", sans-serif;
	word-break: break-all;
	line-height: 1;
}

section {
	padding: 25px 20px;
}

.wrapper {
	background-color: #f8f8f8;
	color: #1e6694;
	text-align: left;
	min-height: 100vh;

	&.wrapper--white {
		background-color: #fff;
	}
}

h1 {
	line-height: 1;
}
