.body {
	width: 100%;
	margin-top: 30px;
	padding: 17px 0 15px;
	color: #fff;
	font-family: inherit;
	font-size: 16px;
	font-weight: bold;
	background-color: #1e6694;
	border: none;
	border-bottom: 5px solid #0b476d;
	border-radius: 6px;
}
