.body {
	width: 100%;
	margin-top: 30px;
	padding: 15px 0 13px;
	color: #fff;
	font-family: inherit;
	font-size: 16px;
	font-weight: bold;
	background-color: #1e6694;
	border: none;
	border-bottom: 3px solid #0b476d;
	border-radius: 4px;
}
