@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;900&display=swap');

* {
	font-family: "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", sans-serif;
	word-break: break-all;
	line-height: 1;
}

body {
	color: #1e6694;
	background-color: #f8f8f8;
	text-align: center;
}
