.form {
	padding-top: 25px;
	text-align: center;
	background-color: #f8f8f8;

	.form_title {
		border-top: 1px solid #c1ccd3;

		span {
			display: inline-block;
			padding: 0 10px;
			background-color: #f8f8f8;
			transform: translateY(-50%);
		}
	}

	.form_tabList {
		display: flex;
		gap: 15px;
		margin: 5px 15px 0;
	}

	.form_tabItem {
		width: 100%;
		padding: 15px 0;
		font-weight: bold;
		color: #9ca0a2;
		background-color: #efefef;
		border-radius: 5px 5px 0 0;
		box-shadow: 0 -5px 10px 0 rgba(100, 100, 100, 0.1) inset;
	}

	.form_radio {
		display: none;

		&:checked + .form_tabItem {
			color: inherit;
			background-color: #fff;
			box-shadow: none;
		}
	}

	.form_container {
		position: relative;
		padding: 15px;
		background-color: #fff;
	}
}
